version: "3"
   
services:
  db:
    image: nouchka/sqlite3:latest
    volumes:
      - ./data/db:/root/db
    environment:
      - SQLITE3_DB=db.sqlite3
  web:
    build: .
    
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db