[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
djangorestframework = "*"
django-cors-headers = "*"
drf-nested-routers = "*"
s3transfer = "*"
whitenoise = "*"
gunicorn = "*"
mysqlclient==2.1.1

[dev-packages]

[requires]
python_version = "3.10"
